.panel
{
    background: #FFF;
    padding:2em;
    border-radius:1em/1.75em;
}

body
{
    background:url(../img/geko.png) #757575;
}

#maindiv
{
    background:url(../img/white75.png);
    padding-left:0.5em;
    padding-right:0.5em;
    padding-bottom:0.5em;
}

#footer
{
    margin-top:0.5em;
}

textarea
{
    width:99%;
}