<!DOCTYPE html>
<html>
  <head>
    <META HTTP-EQUIV="Content-Type" CONTENT="text/html; charset=UTF-8">
    <title>Planning ${title}</title>
    <script src="//ajax.googleapis.com/ajax/libs/jquery/1.8.2/jquery.min.js"></script>
    <script src="/js/bootstrap.min.js" type="text/javascript" language="JavaScript"></script>
    <script src="/js/page.js"></script>
    <link rel="stylesheet" href="/css/bootstrap.min.css" type="text/css">
    <link rel="stylesheet" href="/css/default.css" type="text/css"> 
  </head>
  <body class="container">
    <h1>${title}</h1>
    <div id="page">
      <h2>Main <a id="editSwitch" class="btn btn-success btn-small" href="">Edit</a></h2>
      <div id="page_body">
	${page_body}
      </div>
      <div id="page_body_edit" >
	<form action="" method="POST">
	  <textarea cols="80" rows="25" name="page_body_text" id="page_body_text">${page_body_raw}</textarea>
	  <p><input type="submit" class="btn btn-success" value="update"/> <a id="cancelEdit" class="btn btn-danger btn-small" href="">Cancel</a></p>
	</form>
      </div>
    </div>
    <div id="contents">
      <h2>Contents</h2>
      <ul id="page_list" class="panel">
	% for page in pages:
            ${make_list_item(page)}
	% endfor
      </ul>
      <form action='/book/${title}' method='GET'>
	<h2>Create a new page</h2>
	<input type="text" name="page_name"/>
	<input type="submit" class="btn btn-success" value="create"/>
      </form>
    </div>
    <p><a href="/">Book list</a></p>
  </body>
</html>

<%def name="make_list_item(page)">
<li>
  <a href="${page}">${page}</a> <input type="button" class="btn btn-danger btn-mini" value="Delete" id="delete${title}_${page}" />
</li>
</%def>
